body {
  margin: 0;
}

.ef-view {
  font-size: 1.1em;
  padding: 0px 12px;
  color: var(--arrowpanel-color);
}

.ef-radio-section {
  border: 1px solid hsla(210,4%,10%,.15);
  border-radius: 3.5px;
  padding: 8px;
}

.ef-radio-section > div:not(:last-child) {
  margin-bottom: 6px;
}

.ef-radio-section label {
  padding-inline-start: 4px;
}

.ef-view textarea {
  width: 100%;
  box-sizing: border-box;
  height: 144px;
  border: 1px solid hsla(210,4%,10%,.15);
  border-radius: 3.5px;
  resize: none;
  padding: 8px;
  font-family: sans-serif;
  font-size: 1.0em;
}

.ef-view textarea::placeholder {
  color: #ddd;
}

.ef-view textarea:focus {
  box-shadow: inset 0 0 3px hsla(210,4%,10%,.25);
}

.btn {
  width: auto;
  display: block;
  margin-block-end: 12px;
  margin-block-start: 12px;
  border-radius: 3.5px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 12px;
  background-color: #888;
}

.btn:hover {
  background-color: #777;
}

.btn.primary {
  background-color: #0096dd;
}

.btn.primary:hover {
  background-color: #008acc;
}

input {
  outline: none;
}